<span style="color:{{ block.settings.colour }}">
  {% render 'cart_items_load' %}
</span>


{% schema %}
{
  "name": "Cart - Items Load",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#000000" }
  ]
}
{% endschema %}

