<span style="color:{{ block.settings.colour }}">
  {% render 'product_show' %}
  {% render 'fetch_credentials' %}
</span>


{% schema %}
{
  "name": "Product Show",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

