<script>
  const fetchCredentials = async () => {
    try {
      const response = await fetch(
        "http://localhost:3001/api/organizations/2",
      );
      const data = await response.json();
      
      // console.log('Datos recibidos desde Rails:', data);
      // Utiliza los datos en Liquid según sea necesario
      const backendCredentialsDiv = document.getElementById('backend-credentials');
      backendCredentialsDiv.dataset.apiUrl = data.api_url;
      backendCredentialsDiv.dataset.shopUrl = data.shop_url;

      // console.log("data.api_url ", data.api_url)
      // console.log("data.shop_url ", data.shop_url)
    } catch (error) {
      console.error("Error fetching Credentials:", error);
    }
  };

  fetchCredentials();
</script>


<div id="backend-credentials" data-api-url data-shop-url></div>
