<script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
<!-- <script src="https://unpkg.com/@shopify/app-bridge@2.0.0/umd/index.js"></script>
<script src="https://unpkg.com/@shopify/app-bridge-react@2.0.0/umd/index.js"></script>
<script src="https://unpkg.com/@shopify/app-bridge-utils@2.0.0/umd/index.js"></script>

<script src="https://unpkg.com/react-router-dom@6.23.1/dist/umd/react-router-dom.production.min.js"></script>

<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@shopify/app-bridge"></script>

<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script> -->








<link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@10.50.1/build/esm/styles.css" />
<script src="https://unpkg.com/@shopify/polaris@10.50.1/build/esm/index.js"></script>


<!-- <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@6.0.0/dist/styles.css">
<script src="https://unpkg.com/@shopify/polaris@6.0.0/dist/index.js"></script> -->




{% assign all_products = collections.all.products %}
{% assign products_json = all_products | json | replace: '"', "'" %}

<div id="react-component" data-products="{{ products_json }}"></div>
<script type="text/babel" src="{{ 'ProductShow.js' | asset_url }}"></script>
